{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button id="settings_submit" type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" data-bs-original-title="{{ button_save }}" aria-label="{{ button_save }}">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ href_back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title_main }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (is_key_initialized) %}
            <div class="alert alert-info">
                <i class="fa fa-exclamation-circle"></i>
                {{ create_merchant_product_message }}
                <a href="{{ href_add }}" data-bs-toggle="tooltip" title="Add Merchant Product" class="btn btn-primary">Add</a>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    {% for merchant_product_table_header in merchant_product_table_headers %}
                        <td>{{ merchant_product_table_header|e }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for merchant_product_table_item in merchant_product_table_data %}
                    <tr>
                        {% for item_key,item_info in merchant_product_table_item %}
                            {% if (item_key != 'deleteUrl') and (item_key != 'editUrl') %}
                                <td>{{ item_info|raw }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <div class="dropdown pull-right">
                                <div class="btn-group">
                                    <a href="{{ merchant_product_table_item['editUrl'] }}" data-toggle="tooltip" title="Edit product" class="btn btn-primary" data-original-title="Edit product"><i class="fa fa-pencil"></i></a>
                                    <a href="{{ merchant_product_table_item['deleteUrl'] }}" data-toggle="tooltip" title="Delete product" class="btn btn-danger" data-original-title="Delete product"><i class="fa fa-minus-circle"></i></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
            <div class="panel-body">
                <form id="form-payment" action="{{ href_save }}" method="post">
                    <div class="row form-group mb-3">
                        <label class="col-sm-4 col-form-label flex-align-end" for="input-key"><span data-toggle="tooltip">{{ x_payment_link_key_text }}</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="payment_holmbank_x_payment_link_key" value="{{ config_setting.payment_holmbank_x_payment_link_key }}" placeholder="{{ api_key_input_placeholder }}" id="input-key" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label class="col-sm-4 col-form-label flex-align-end" for="input-key"><span data-toggle="tooltip">{{ sort_order_text }}</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="payment_holmbank_sort_order" value="{{ config_setting.payment_holmbank_sort_order }}" placeholder="{{ sort_order_input_placeholder }}" id="input-key" class="form-control"/>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label for="input-status" class="col-sm-4 col-form-label flex-align-end">{{ is_live_status_text }}</label>
                        <div class="col-sm-6">
                            <div class="form-check form-switch form-switch-lg">
                                {% if (config_setting.payment_holmbank_live_activity_status) %}
                                    <input type="hidden" name="payment_holmbank_live_activity_status" value="0">
                                    <input type="checkbox" name="payment_holmbank_live_activity_status" value="1" id="input-status" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="payment_holmbank_live_activity_status" value="0" checked>
                                    <input type="checkbox" name="payment_holmbank_live_activity_status" value="1" id="input-status" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label for="input-status" class="col-sm-4 col-form-label flex-align-end">{{ is_module_active }}</label>
                        <div class="col-sm-6">
                            <div class="form-check form-switch form-switch-lg">
                                {% if (config_setting.payment_holmbank_status) %}
                                    <input type="hidden" name="payment_holmbank_status" value="0">
                                    <input type="checkbox" name="payment_holmbank_status" value="1" id="input-status" class="form-check-input" checked>
                                {% else %}
                                    <input type="hidden" name="payment_holmbank_status" value="0" checked>
                                    <input type="checkbox" name="payment_holmbank_status" value="1" id="input-status" class="form-check-input">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label class="col-sm-4 col-form-label flex-align-end" for="input-key">{{ accepted_order_status_text }}</label>
                        <div class="col-sm-6">
                            <select name="payment_holmbank_accepted_order_status" id="deny-input-order-status" class="form-control">
                                <option value="UNSELECTED">{{ accepted_order_input_placeholder }}</option>
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == config_setting.payment_holmbank_accepted_order_status %}selected="selected"{% endif %}>{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row form-group mb-3">
                        <label class="col-sm-4 col-form-label flex-align-end" for="input-key">{{ denied_order_status_text }}</label>
                        <div class="col-sm-6">
                            <select name="payment_holmbank_denied_order_status" id="accept-input-order-status" class="form-control">
                                <option value="UNSELECTED">{{ denied_order_input_placeholder }}</option>
                                {% for order_status in order_statuses %}
                                    <option value="{{ order_status.order_status_id }}" {% if order_status.order_status_id == config_setting.payment_holmbank_denied_order_status %}selected="selected"{% endif %}>{{ order_status.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<style>
    .flex-align-end {
        display: flex;
        justify-content: flex-end;
    }
</style>