
div.holmbank_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

div.holmbank_container:has(div.holmbank_logo) {
    margin-top: 20px;
}

div.holmbank_content {
    margin-top: 10px;
    margin-left: 10px;
}

span.estimation_text {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

a.estimation_text {
    font-size: 13px;
    font-weight: 600;
    color: black;
}

div.holmbank_calculator_description {
    font-size: 11px;
}

div.holmbank_logo img {
    width: 80px;
}

.holmbank-options-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.holmbank-option {
    display: flex;
    margin-bottom: 10px;
}

.holmbank-option-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.holmbank-option-description label {
    font-weight: bold !important;
    padding: 0 !important;
}

.input-section {
    display: flex;
}

.holmbank-logo {
    width: 45px !important;
}

.holmbank_payment_methods {
    padding: 0 !important;
}

#holmbank_options {
    padding: 20px 0 0 !important;
    display: none;
}

@media screen and (max-width: 767px) {
    div.holmbank_container {
        flex-direction: row;
    }
    div.holmbank_content {
        margin-top: 0;
        margin-left: 10px;
    }

    span.estimation_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 440px) {
    .holmbank-option {
        flex-direction: column;
    }
    .holmbank-option-description {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}