
<div class="holmbank_container">
    <link href="{{ holmbank_style }}" rel="stylesheet" type="text/css" />
    <div class="holmbank_logo">
        {%if  holmbank_payment_logo != '' %}
            <img src="{{ holmbank_payment_logo }}" alt="{{ holmbank_payment_logo_alt }}">
        {% endif %}
    </div>
    {%if holmbank_calculator_estimation >= holmbank_calculator_min_estimation %}
        <div class="holmbank_content">
            <div class="holmbank_calculator_estimation">
                {%if holmbank_calculator_link != "" %}
                    <a href="{{ holmbank_calculator_link }}" target="_blank" class="estimation_text">{{ estimation_text }}: {{ holmbank_calculator_estimation }} {{ shop_currency_code }}</a>
                {%else%}
                    <span class="estimation_text">{{ estimation_text }}: {{ holmbank_calculator_estimation }} {{ shop_currency_code }}</span>
                {% endif %}
            </div>
            <div class="holmbank_calculator_description">
                {{ holmbank_calculator_description }}
            </div>
        </div>
    {% endif %}
</div>
