
<div class="holmbank_payment_methods">
    <link href="{{ holmbank_style }}" rel="stylesheet" type="text/css" />
    <form action="{{ href_confirm }}" method="post">
        <div class="d-inline-block pt-2 pd-2 w-100 text-end pull-right">
            <input id="selected_holmbank_option_final" name="payment_option" type="hidden" />
            <button type="submit" id="button-confirm" class="btn btn-primary">{{ button_confirm }}</button>
        </div>
    </form>
</div>

<script>
    let selectedItemInputFinal = document.getElementById('selected_holmbank_option_final');
    selectedItemInputFinal.value = document.getElementById('selected_holmbank_option').value;
</script>