
<div class="holmbank_payment_methods">
    <link href="{{ holmbank_style }}" rel="stylesheet" type="text/css" />
    {{ holmbank_payment_title }}
    <ul id="holmbank_options">
        {% for key, value in payment_options %}
            <li data-value="{{ key }}" class="holmbank-option">
                <div class="input-section">
                    <img class="holmbank-logo" src="{{ value.logo }}" alt="logo">
                </div>
                <div class="holmbank-option-description">
                    <label for="{{ key }}">{{ value.name }}</label>
                    <span>{{ value.description }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <input id="selected_holmbank_option" name="payment_method" type="hidden" readonly />
</div>

<script>
    let holmbankPaymentSelect = document.querySelector('input[value="holmbank"]');
    let holmbankPaymentMethods = document.querySelector('#holmbank_options');
    let listItems = document.querySelectorAll('#holmbank_options li');
    let selectedItemInput = document.getElementById('selected_holmbank_option');

    let radios = document.querySelectorAll('input[type="radio"][name="payment_method"]')

    if (radios && holmbankPaymentSelect && holmbankPaymentMethods) {
        radios.forEach(function(radio) {
            if (radio.checked) {
                if (radio === holmbankPaymentSelect) {
                    holmbankPaymentMethods.style.display = 'block';
                    if (listItems.length > 0) {
                        listItems.item(0).classList.add('selected');
                        selectedItemInput.value = listItems.item(0).getAttribute('data-value');
                    }
                }
            }
        });
    }

    if (radios && holmbankPaymentSelect && holmbankPaymentMethods) {
        radios.forEach(function(radio) {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    if (this === holmbankPaymentSelect) {
                        holmbankPaymentMethods.style.display = 'block';
                    } else {
                        holmbankPaymentMethods.style.display = 'none';
                    }
                }
            });
        });
    }

    listItems.forEach((item) => {
        item.addEventListener('click', function() {
            // Remove 'selected' class from all items
            listItems.forEach((item) => {
                item.classList.remove('selected');
            });

            // Add 'selected' class to clicked item
            this.classList.add('selected');

            // Set the value of the input box to the 'data-value' of the clicked item
            selectedItemInput.value = this.getAttribute('data-value');
        });
    });
</script>

<style>
    .holmbank-option {
        border: 1px solid #d5d5d5;
        border-radius: 20px;
        padding: 20px 10px;
    }

    #holmbank_options li.selected {
        background: #f1f1f1;
    }
</style>